---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog</h2>
  <img src="/Abstex_shaped_nu_2.png" width="300">
  <img src="/CNTNR_V_II.png" width="300">
  <Greeting client:load messages={["What's up", "Big baby baybeh", "What's crackin y'all"]} />
</BaseLayout>


