---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog where I share my art music and various other experiments...</h2>
  <img src="images/Nehtadreamz_3.png" width="50%">
  <img src="images/Abstex_1B_Cycles.png" width="50%">
  <Greeting client:load messages={["What's up", "Big baby baybeh", "What's crackin y'all"]} />
</BaseLayout>


