---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(14, 14, 14);
    background-color: #a3a3a3;
    border-radius: 20px;
    text-decloration: none;
  }
</style>